* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(#34abe6 , BlueViolet , MediumBlue);
    scroll-behavior: smooth;
    direction: rtl;
}

.html-home {
    height: 100%;
}

html, body {
    margin: 0;
}

.azkar-body {
 background: linear-gradient(#12c2e9, #c471ed, #f64f59);
}

.home-body {
    height: 100%;
    padding: 26px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: absolute;
    top: 100px;
    letter-spacing: 3px;
    font-weight: 700;
    font-style: italic;

}

.main-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


.main-nav  * {
    font-size: 1.3em;
    font-weight: 700;
    list-style: none;
    border-radius: 50px;
}





h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-style: italic;
    color: rgb(255 255 25 / 71%);
    letter-spacing: 3px;

}

.card-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 12px;
    /* border: 2px solid dodgerblue; */
    box-shadow: 0 0 5px 3px #e3ffa3;
}

.card {
    font-size: 1.3em;
    font-weight: 550;
    color: black;
    padding: 10px;
    margin: 10px;
    position: relative;
}


.btn {
    display: flex;
    justify-content: center;
}

.btn > a {
    display: inline-block;
    padding: 2px 8px;
    text-align: center;
    width: 70px;
    color: antiquewhite;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: orange;
    border: 2px solid dodgerblue;
    border-radius: 50px;

}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    padding: 0 10px;
    background-color: white;
    /* box-shadow: 0 7px limegreen; */

}

#sub-nav {
    height: 15px;
    background-color: #eee;
    border-radius: 0 0 9px 9px;
    box-shadow: 0 9px limegreen;

}

nav > a {
    font-size: 1.2em;
    text-decoration: none;

    text-align: center;

    width: 118px;
    padding: 9px 4px;
    margin: 6px 0;

    border-radius: 8px;   
    
}

.btn-night {
    background-color: white;
    border: 1px solid #c471ed;
    color: #c471ed;
}
.btn-morning {
    background-color: white;

    border: 1px solid YellowGreen;
    color: YellowGreen ;
}

.btn-night:hover {
    background-color: #c471ed;
    color: white;
}
.btn-morning:hover {
    background-color: YellowGreen;
    color: white;
}

.icon {
    color: red;
    font-size: 2.1em;
    padding: 0;
}

