* {
    box-sizing: border-box;
}
body {

    scroll-behavior: smooth;
    background: linear-gradient(#12c2e9, #c471ed, #f64f59);
    margin: 0;
    direction: rtl;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 3px;

}

.card-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 2px solid dodgerblue;
    border-radius: 12px;
}

.card {
    font-size: 1.3em;
    font-weight: 550;
    color: black;
    padding: 10px;
    margin: 10px;
    position: relative;
}


.btn {
    display: flex;
    justify-content: center;
    /* background-color: green; */
}

.btn > a {
    display: inline-block;
    padding: 2px 8px;
    text-align: center;
    width: 70px;
    color: antiquewhite;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: orange;
    border: 2px solid dodgerblue;
    border-radius: 50px;

}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    /* background: linear-gradient(#1f4037 ,#99f2c8) */
    background-color: white;
}

nav > a {
    font-size: 1.2em;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 118px;
    padding: 1px 4px;
    margin: 3px 0;

    border-radius: 8px;   
    
}

.btn-night {
    border: 1px solid #c471ed;
    color: #c471ed;
}
.btn-morning {
    border: 1px solid YellowGreen;
    color: YellowGreen ;
}

.btn-night:hover {
    background-color: #c471ed;
    color: white;
}
.btn-morning:hover {
    background-color: YellowGreen;
    color: white;
}

.icon {
    color: red;
    font-size: 2em;
}